.delivery .delivercity {
    display: flex;
    font-size: 24px;
    border-bottom: 1px solid black;
    padding: 10px;
    padding-left: 15px;
    background-color: #e4e4e4;
}

.delivery .delivercity a {
    color: #758BFF;
}

.delivery .delivercity a:hover {
    font-size: 25px;
}

.info {
    margin-top: 20px;
    display: flex;
    padding: 10px;
    background-color: #e4e4e4;
    align-items: center;
}

.info p {
    padding-left: 15px;
    font-family: 'Kyiv*Type Serif';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #5D5D5D;
}

.first-word {
    color: black;
    font-family: 'Kyiv*Type Serif';
    font-style: normal;
    font-weight: 500;
}