.goods {
    border-top: 5px solid #000000;
}

.goods h2 {
    margin-top: 10px;
    margin-bottom: 15px;
    margin-left: 20%;
}

.good {
    display: flex;
    justify-content: center;
}

.good .shortdescr>* {
    margin-bottom: 10%;
}

.good .shortdescr {
    margin-left: 15%;
    max-width: 35%;
}

.good .shortdescr img{
    width: 80%;
}

.good .shortdescr .subtitle {
    margin-left: 20px;
    margin-right: 30%;
    font-family: 'Kyiv*Type Serif';
    font-style: normal;
    font-weight: 3500;
    font-size: 15px;
    line-height: 19px;
    color: #000000;
}

.good .buydelivery{
    margin-right: 15%;
    max-width: 35%;
}

@media screen and (max-width: 1366px) {
    .good .shortdescr {
        margin-left: 7%;
        max-width: 40%;
    }
    .good .buydelivery{
        margin-right: 7%;
        max-width: 40%;
    }
    .goods h2 {
        margin-left: 15%;
    }
}