.goodnav{
    display: flex;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 20px;
    background-color: #bebebe;
}

.goodnav .item:not(:first-child){
    margin-left: 5%;
}

.goodnav .item{
    margin-left: 20%;
}

@media screen and (max-width: 1366px) {
    .goodnav .item{
        margin-left: 15%;
    }
}