<!DOCTYPE html>
<html lang="en">

<head>
    @await Html.PartialAsync("MetatagsPartial")
    @await Html.PartialAsync("CssPartial")
</head>

<body>
    <div class="container">
        @await Html.PartialAsync("HeaderPartial")
            @RenderBody()
        @await Html.PartialAsync("FooterPartial")
    </div>
    @await Html.PartialAsync("ScriptsPartial")
</body>

</html>