<!DOCTYPE html>
<html lang="en">

<head>
    @await Html.PartialAsync("MetatagsPartial")
    @await Html.PartialAsync("CssPartial")
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick.min.js"></script>

</head>

<body>
    <div class="wrapper">
        @await Html.PartialAsync("SideBarPartial")
        @await Html.PartialAsync("HeaderPartial")
        <main>
            @RenderBody()
        </main>
        @await Html.PartialAsync("FooterPartial")
    </div>
    @await Html.PartialAsync("ScriptsPartial")
</body>

</html>