<div class="banners">
    <div class="ban">
        <a class="link" href=""><img class="image" src="../img/png/ban1.png"></a>
        <a class="link" href=""><img class="image" src="../img/png/ban2.png"></a>
        <a class="link" href=""><img class="image" src="../img/png/ban3.png"></a>
        <a class="link" href=""><img class="image" src="../img/png/ban4.png"></a>
    </div>
</div>