<section class="section banners-section">
    <h2 class="title">Акції</h2>
    <nav class="nav">
        <ul class="banners">
            <li class="item">
                <img class="banner-img" src="~/img/png/ban1.png">
            </li>
            <li class="item">
                <img class="banner-img" src="~/img/png/ban2.png">
            </li>
            <li class="item">
                <img class="banner-img" src="~/img/png/ban3.png">
            </li>
            <li class="item">
                <img class="banner-img" src="~/img/png/ban4.png">
            </li>
        </ul>
    </nav>
</section>