<div class="category">
    <h2 class="h2 title">Популярні категорії</h2>
    <ul class="list">
        <li class="item">
            <a class="link" href="">
                <img src="../img/png/image 4.png">
                <p class="p title">Оперативна пам'ять</p>
            </a>
        </li>
        <li class="item">
            <a class="link" href="">
                <img src="../img/png/image 1.png">
                <p class="p title">Монітори</p>
            </a>
        </li>
        <li class="item">
            <a class="link" href="">
                <img src="../img/png/image 2.png">
                <p class="p title">Корпуси</p>
            </a>
        </li>
        <li class="item">
            <a class="link" href="">
                <img src="../img/png/image 3.png">
                <p class="p title">Кулери</p>
            </a>
        </li>
        <li class="item">
            <a class="link" href="">
                <img src="../img/png/image 5.png">
                <p class="p title">Клавіатури</p>
            </a>
        </li>
        <li class="item">
            <a class="link" href="">
                <img src="../img/png/image 7.png">
                <p class="p title">Оперативна пам'ять</p>
            </a>
        </li>
    </ul>
</div>