<section class="section categories-section">
    <h2 class="title">Категорії</h2>
    <nav class="nav">
        <ul class="categories">
            <li class="item">
                <img class="category-img" src="~/img/png/image 1.png">
                <p class="category-sub">Монітори</p>
            </li>
            <li class="item">
                <img class="category-img" src="~/img/png/image 2.png">
                <p class="category-sub">Корпуси</p>
            </li>
            <li class="item">
                <img class="category-img" src="~/img/png/image 3.png">
                <p class="category-sub">Кулери</p>
            </li>
            <li class="item">
                <img class="category-img" src="~/img/png/image 4.png">
                <p class="category-sub">ОЗУ</p>
            </li>
            <li class="item">
                <img class="category-img" src="~/img/png/image 5.png">
                <p class="category-sub">Клавіатури</p>
            </li>
            <li class="item">
                <img class="category-img" src="~/img/png/image 7.png">
                <p class="category-sub">Материнські плати</p>
            </li>
        </ul>
    </nav>
</section>