@using Online_Store.Service;

<footer class="footer">
    <ul class="list">
        <li class="item">Соціальні мережі</li>
        <li class="item">
            <ul class="list">
                <li class="item"><a href=""><img src="../../img/png/🦆 icon _linkedin in_.png"></a></li>
                <li class="item"><a href=""><img src="../../img/png/🦆 icon _tiktok_.png"></a></li>
                <li class="item"><a href=""><img src="../../img/png/🦆 icon _telegram plane_.png"></a></li>
                <li class="item"><a href=""><img src="../../img/png/🦆 icon _facebook f_.png"></a></li>
            </ul>
        </li>
    </ul>
    <ul class="list">
        <li class="item">Клієнтам</li>
        <li class="item"><a href="">Доставка</a></li>
        <li class="item"><a href="">Гарантії</a></li>
        <li class="item"><a href="">Акції</a></li>
        <li class="item"><a href="">Оплата</a></li>
        <li class="item"><a href="">Інформація</a></li>
    </ul>
    <ul class="list">
        <li class="item">Відділ продажу</li>
        <li class="item"><a href="tel:@Config.CompanyPhone">@Config.CompanyPhone</a></li>
        <li class="item"><a href="tel:@Config.CompanyPhone">@Config.CompanyPhone</a></li>
        <li class="item"><a href="mailto:@Config.CompanyEmail">@Config.CompanyEmail</a></li>
    </ul>
</footer>