<header class="header">
    <div class="head-content">
        <button class="nav-btn">
            <span class="nav-btn-line"></span>
            <span class="nav-btn-line"></span>
            <span class="nav-btn-line"></span>
        </button>
        <div class="logo"><a href="/"><img src="../../img/png/logo.png"></a></div>
        <div class="search">
            <input class="input search" type="text" placeholder="Я шукаю..." id="search">
            <button type="button" class="searchbtn">Знайти</button>
        </div>
        <div class="lang">
            <div><a href="">EN</a></div>
            <div><a href="">UA</a></div>
        </div>
        <ul class="list">
            <li class="item"><a href="/Account/PersonalPage"><img src="../../img/svg/User_cicrle_light.svg"></a></li>
            <li class="item"><a href="/Buy/Basket"><img src="../../img/svg/Basket_alt_3_light.svg"></a></li>
        </ul>
    </div>
</header>
<div class="navigation">
    <nav class="nav">
        <div class="navlog">
            <button class="nav-btn">
                <span class="nav-btn-line"></span>
                <span class="nav-btn-line"></span>
                <span class="nav-btn-line"></span>
            </button>
            <div class="logo"><a href="/"><img src="../../img/png/logo.png"></a></div>
        </div>
        <a href="" class="link">
            <img src="../../img/svg/User_cicrle_light.svg">
            <p>Log In</p>
        </a>
        <ul class="list">
            <li class="item"><button class="button gray" onclick="window.location.href = '/';">Каталог</button></li>
            <li class="item"><a href="">Акції</a></li>
            <li class="item"><a href="">Оплата</a></li>
            <li class="item"><a href="">Гарантії</a></li>
            <li class="item"><a href="">Контакти</a></li>
            <li class="item"><a href="">Доставка</a></li>
            <li class="item"><a href="">Інформація</a></li>
        </ul>
    </nav>
</div>