@using Online_Store.Service;

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

@if (ViewBag.Title != null)
{
	<title>@ViewBag.Title</title>
}
else
{
	<title>@Config.CompanyName</title>	
}
