<section class="section goods-section">
    <h2 class="title">Популярні товари</h2>
    <nav class="nav">
        <ul class="goods">
            @for (int i = 0; i < 4; i++)
            {
                <li class="good-card" onclick=" window.location.href='/Goods/Product';">
                    <div class="up">
                        <img class="good-img" src="~/img/jpg/monitor.jpg">
                        <div class="top">
                            <p class="good-name">Apple Thunderbolt Display 27''</p>
                        </div>
                        <div class="bottom">
                            <p class="good-category">Монітори</p>
                            <p class="good-cost">26500₴</p>
                        </div>
                    </div>
                    <div class="down">
                        <p class="property">Діагональ дисплея: 23.6"</p>
                        <p class="property">Максимальна роздільна здатність дисплея: 1920x1080 (FullHD)</p>
                        <p class="property">Час реакції матриці: 1 ms (MPRT), 4 ms (GTG)</p>
                        <p class="property">Тип матриці: VA</p>
                    </div>
                </li>
            }
        </ul>
    </nav>
</section>