<div class="popular">
    <h2 class="h2 title">Популярний товар</h2>
    <div class="nov">
        <ul class="list">
            <li class="item-card">
                <a href="/html/product.html"><img class="pic" src="../img/jpg/monitor.jpg"></a>
                <a href="">
                    <p class="name">Apple iMac 24"</p>
                </a>
                <div class="catcash">
                    <a href="">
                        <p class="p subtitle">Монітори</p>
                    </a>
                    <p class="name">65 499₴</p>
                </div>
                <div class="description">
                    <p class="descrprop">Діагональ дисплея: 23.6"</p>
                    <p class="descrprop">Максимальна роздільна здатність дисплея: 1920x1080 (FullHD)</p>
                    <p class="descrprop">Час реакції матриці: 1 ms (MPRT), 4 ms (GTG)</p>
                    <p class="descrprop">Тип матриці: VA</p>
                </div>
            </li>
            <li class="item-card">
                <a href=""><img class="pic" src="../img/jpg/monitor.jpg"></a>
                <a href="">
                    <p class="name">Apple iMac 24"</p>
                </a>
                <div class="catcash">
                    <a href="">
                        <p class="p subtitle">Монітори</p>
                    </a>
                    <p class="name">65 499₴</p>
                </div>
                <div class="description">
                    <p class="descrprop">Діагональ дисплея: 23.6"</p>
                    <p class="descrprop">Максимальна роздільна здатність дисплея: 1920x1080 (FullHD)</p>
                    <p class="descrprop">Час реакції матриці: 1 ms (MPRT), 4 ms (GTG)</p>
                    <p class="descrprop">Тип матриці: VA</p>
                </div>
            </li>
            <li class="item-card">
                <a href=""><img class="pic" src="../img/jpg/monitor.jpg"></a>
                <a href="">
                    <p class="name">Apple iMac 24"</p>
                </a>
                <div class="catcash">
                    <a href="">
                        <p class="p subtitle">Монітори</p>
                    </a>
                    <p class="name">65 499₴</p>
                </div>
                <div class="description">
                    <p class="descrprop">Діагональ дисплея: 23.6"</p>
                    <p class="descrprop">Максимальна роздільна здатність дисплея: 1920x1080 (FullHD)</p>
                    <p class="descrprop">Час реакції матриці: 1 ms (MPRT), 4 ms (GTG)</p>
                    <p class="descrprop">Тип матриці: VA</p>
                </div>
            </li>
            <li class="item-card">
                <a href=""><img class="pic" src="../img/jpg/monitor.jpg"></a>
                <a href="">
                    <p class="name">Apple iMac 24"</p>
                </a>
                <div class="catcash">
                    <a href="">
                        <p class="p subtitle">Монітори</p>
                    </a>
                    <p class="name">65 499₴</p>
                </div>
                <div class="description">
                    <p class="descrprop">Діагональ дисплея: 23.6"</p>
                    <p class="descrprop">Максимальна роздільна здатність дисплея: 1920x1080 (FullHD)</p>
                    <p class="descrprop">Час реакції матриці: 1 ms (MPRT), 4 ms (GTG)</p>
                    <p class="descrprop">Тип матриці: VA</p>
                </div>
            </li>
        </ul>
    </div>
</div>