.categories-section .nav .categories {
    display: flex;
    justify-content: space-around;
    width: 55%;
}

.categories-section .nav .categories .item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90px;
    cursor: pointer;
}

.categories-section .nav .categories .item:hover .category-sub  {
    font-weight: 500;
}

.categories-section .nav .categories .item .category-img {
    height: 80px;
    width: 90px;
}

.categories-section .nav .categories .item .category-sub {
    text-align: center;
    font-weight: 400;
}

@media screen and (max-width: 1366px) {
    .categories-section .nav .categories {
        width: 60%;
    }
}

@media screen and (max-width: 1024px) {
    .categories-section .nav .categories {
        width: 80%;
    }
}

@media screen and (max-width: 768px) {
    .categories-section .nav .categories {
        width: 90%;
        flex-wrap: wrap;
    }
}