<section class="section path-section">
    <div class="path">
        <p>Монітори/Apple/Монітор Apple Studio Display</p>
    </div>
</section>
<section class="section product-section">
    <div class="product">
        <div class="wrap-title">
            <h2 class="title">Монітор Apple Studio Display</h2>
        </div>
        <nav class="nav">
            <ul class="list">
                <li class="item">Все про товар</li>
                <li class="item">Характеристики</li>
                <li class="item">Відгуки</li>
            </ul>
        </nav>
    </div>
    <div class="product-info">
        <div class="description">
            <div class="pictures">
                <div class="slider-nav">
                    <div class="thumbnails">
                        <img class="thumb" src="~/img/jpg/monitor.jpg">
                        <img class="thumb" src="~/img/jpg/monitor2.jpg">
                        <img class="thumb" src="~/img/jpg/monitor.jpg">
                        <img class="thumb" src="~/img/jpg/monitor2.jpg">
                    </div>
                </div>
                <div class="slider-container">
                    <button class="prev-btn">&#10094;</button>
                    <div class="slides">
                        <img class="product-img" src="~/img/jpg/monitor.jpg">
                        <img class="product-img" src="~/img/jpg/monitor2.jpg">
                        <img class="product-img" src="~/img/jpg/monitor.jpg">
                        <img class="product-img" src="~/img/jpg/monitor2.jpg">
                    </div>
                    <button class="next-btn">&#10095;</button>
                </div>
            </div>
            <div class="info">
                <p class="property">Діагональ дисплея: 23.6"</p>
                <p class="property">Максимальна роздільна здатність дисплея: 1920x1080 (FullHD)</p>
                <p class="property">Час реакції матриці: 1 ms (MPRT), 4 ms (GTG)</p>
                <p class="property">Тип матриці: VA</p>
            </div>
        </div>
        <div class="product-buy">
            <div class="buy">
                <span class="available">
                    <img class="icon" src="~/img/svg/available.svg">
                    <p class="text">Є В наявності</p>
                </span>
                <div class="cost">
                    <p class="good-cost">87500</p>
                    <div class="good-buy">
                        <button class="button gray">
                            <img src="~/img/svg/basket.svg"
                                 class="icon">Придбати
                        </button>
                        <svg xmlns="http://www.w3.org/2000/svg" version="1.1"
                             xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.com/svgjs"
                             width="45" height="45" x="0" y="0" viewBox="0 0 512.001 512"
                             style="enable-background:new 0 0 512 512" xml:space="preserve" class="">
                        <g>
                                            <!-- The fill -->
                        <path id="like-heart"
                              d="M143.031 29.992c-31.066 0-59.605 12.399-80.367 34.914-21.07 22.856-32.676 54.45-32.676 88.965 0 36.418 13.535 68.988 43.883 105.606 29.332 35.394 72.961 72.574 123.477 115.625l.093.078c17.66 15.05 37.68 32.113 58.516 50.332 20.961-18.254 41.012-35.344 58.707-50.418 50.512-43.051 94.137-80.223 123.469-115.617 30.344-36.618 43.879-69.188 43.879-105.606 0-34.516-11.606-66.11-32.676-88.965-20.758-22.515-49.3-34.914-80.363-34.914-22.758 0-43.653 7.235-62.102 21.5-16.441 12.719-27.894 28.797-34.61 40.047-3.452 5.785-9.53 9.238-16.261 9.238s-12.809-3.453-16.262-9.238c-6.71-11.25-18.164-27.328-34.61-40.047-18.448-14.265-39.343-21.5-62.097-21.5zm0 0"
                              fill="transparent"></path>

                                            <!-- The border -->
                        <path class="border"
                              d="M256 455.516c-7.29 0-14.316-2.641-19.793-7.438-20.684-18.086-40.625-35.082-58.219-50.074l-.09-.078c-51.582-43.957-96.125-81.918-127.117-119.313C16.137 236.81 0 197.172 0 153.871c0-42.07 14.426-80.883 40.617-109.293C67.121 15.832 103.488 0 143.031 0c29.555 0 56.621 9.344 80.446 27.77C235.5 37.07 246.398 48.453 256 61.73c9.605-13.277 20.5-24.66 32.527-33.96C312.352 9.344 339.418 0 368.973 0c39.539 0 75.91 15.832 102.414 44.578C497.578 72.988 512 111.801 512 153.871c0 43.3-16.133 82.938-50.777 124.738-30.993 37.399-75.532 75.356-127.106 119.309-17.625 15.016-37.597 32.039-58.328 50.168a30.046 30.046 0 0 1-19.789 7.43zM143.031 29.992c-31.066 0-59.605 12.399-80.367 34.914-21.07 22.856-32.676 54.45-32.676 88.965 0 36.418 13.535 68.988 43.883 105.606 29.332 35.394 72.961 72.574 123.477 115.625l.093.078c17.66 15.05 37.68 32.113 58.516 50.332 20.961-18.254 41.012-35.344 58.707-50.418 50.512-43.051 94.137-80.223 123.469-115.617 30.344-36.618 43.879-69.188 43.879-105.606 0-34.516-11.606-66.11-32.676-88.965-20.758-22.515-49.3-34.914-80.363-34.914-22.758 0-43.653 7.235-62.102 21.5-16.441 12.719-27.894 28.797-34.61 40.047-3.452 5.785-9.53 9.238-16.261 9.238s-12.809-3.453-16.262-9.238c-6.71-11.25-18.164-27.328-34.61-40.047-18.448-14.265-39.343-21.5-62.097-21.5zm0 0"
                              fill="#000" stroke-width="2"></path>
                                        </g>
                                    </svg>
                    </div>
                </div>
            </div>
            <div class="delivery">
                <div class="delivery-to">
                    <p class="subtitle">Доставка в:</p>
                    <p class="blue-subtitle">Харків</p>
                </div>
                <div class="buy-info">
                    <div class="buy-info-what">
                        <img class="icon" src="~/img/svg/postal-office.svg">
                        <p class="text">Самовивіз із відділень поштових операторів</p>
                    </div>
                    <p class="text">За тарифами перевізників</p>
                </div>
                <div class="buy-info">
                    <div class="buy-info-what">
                        <img class="icon" src="~/img/svg/courier.svg">
                        <p class="text">Кур'єрська доставка</p>
                    </div>
                    <p class="text">За тарифами перевізників</p>
                </div>
            </div>

            <div class="buy-info">
                <div class="buy-info-what">
                    <img class="icon" src="~/img/svg/card.svg">
                    <p class="text">Оплата. Оплата при отриманні товару або за реквізитами</p>
                </div>
            </div>

            <div class="buy-info">
                <div class="buy-info-what">
                    <img class="icon" src="~/img/svg/guarantee.svg">
                    <p class="text">Гарантія. Обмін/повернення протягом 14 днів</p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section additional-section">
    <div class="additional">
        <div class="another-product">
            <h2 class="title">Також вас можуть зацікавити</h2>
            <nav class="nav">
                <ul class="goods">
                    @for (int i = 0; i < 6; i++)
                    {
                        <li class="good-card" onclick=" window.location.href='/Goods/Product';">
                            <div class="up">
                                <img class="good-img" src="~/img/jpg/monitor.jpg">
                                <div class="top">
                                    <p class="good-name">Apple Thunderbolt Display 27''</p>
                                </div>
                                <div class="bottom">
                                    <p class="good-category">Монітори</p>
                                    <p class="good-cost">26500₴</p>
                                </div>
                            </div>
                            <div class="down">
                                <p class="property">Діагональ дисплея: 23.6"</p>
                                <p class="property">Максимальна роздільна здатність дисплея: 1920x1080 (FullHD)</p>
                                <p class="property">Час реакції матриці: 1 ms (MPRT), 4 ms (GTG)</p>
                                <p class="property">Тип матриці: VA</p>
                            </div>
                        </li>
                    }
                </ul>
            </nav>
        </div>
        <div class="wrap-rate">
            <div class="rate">
                <h2 class="title">Додати відгук до товару</h2>
                <div class="stars">
                    <svg xmlns="http://www.w3.org/2000/svg" version="1.1"
                         xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.com/svgjs"
                         width="40" height="40" x="0" y="0" viewBox="0 0 32 32"
                         style="enable-background:new 0 0 512 512" xml:space="preserve">
                    <g class="star" id="star1" data-star="1" fill="transparent"> <!-- Fill color set to yellow -->
                    <path d="M16 24.105a2.325 2.325 0 0 1 1.088.27l6.232 3.275a.321.321 0 0 0 .356-.025.325.325 0 0 0 .135-.331l-1.191-6.94a2.343 2.343 0 0 1 .672-2.069l5.043-4.915a.338.338 0 0 0-.188-.576l-6.968-1.013a2.335 2.335 0 0 1-1.76-1.279L16.3 4.188a.338.338 0 0 0-.606 0L12.581 10.5a2.335 2.335 0 0 1-1.761 1.279l-6.967 1.015a.337.337 0 0 0-.187.576l5.042 4.915a2.343 2.343 0 0 1 .672 2.069l-1.191 6.94a.338.338 0 0 0 .492.356l6.231-3.276A2.335 2.335 0 0 1 16 24.105z">
                                        </path>
                                    </g>
                    <g stroke-width="1" fill="#000000"> <!-- Outline color set to yellow -->
                    <path d="M23.479 29.691a2.325 2.325 0 0 1-1.089-.27l-6.233-3.276a.333.333 0 0 0-.314 0l-6.232 3.276a2.338 2.338 0 0 1-3.393-2.465l1.19-6.939a.337.337 0 0 0-.1-.3L2.27 14.8a2.338 2.338 0 0 1 1.3-3.989L10.533 9.8a.337.337 0 0 0 .254-.185L13.9 3.3a2.337 2.337 0 0 1 4.193 0l3.115 6.313a.34.34 0 0 0 .254.185l6.969 1.012a2.339 2.339 0 0 1 1.3 3.989l-5.043 4.914a.339.339 0 0 0-.1.3l1.19 6.939a2.341 2.341 0 0 1-2.3 2.735zM16 24.105a2.325 2.325 0 0 1 1.088.27l6.232 3.275a.321.321 0 0 0 .356-.025.325.325 0 0 0 .135-.331l-1.191-6.94a2.343 2.343 0 0 1 .672-2.069l5.043-4.915a.338.338 0 0 0-.188-.576l-6.968-1.013a2.335 2.335 0 0 1-1.76-1.279L16.3 4.188a.338.338 0 0 0-.606 0L12.581 10.5a2.335 2.335 0 0 1-1.761 1.279l-6.967 1.015a.337.337 0 0 0-.187.576l5.042 4.915a2.343 2.343 0 0 1 .672 2.069l-1.191 6.94a.338.338 0 0 0 .492.356l6.231-3.276A2.335 2.335 0 0 1 16 24.105z">
                                        </path>
                                    </g>
                                </svg>
                    <svg xmlns="http://www.w3.org/2000/svg" version="1.1"
                         xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.com/svgjs"
                         width="40" height="40" x="0" y="0" viewBox="0 0 32 32"
                         style="enable-background:new 0 0 512 512" xml:space="preserve">
                    <g class="star" id="star2" data-star="2" fill="transparent"> <!-- Fill color set to yellow -->
                    <path d="M16 24.105a2.325 2.325 0 0 1 1.088.27l6.232 3.275a.321.321 0 0 0 .356-.025.325.325 0 0 0 .135-.331l-1.191-6.94a2.343 2.343 0 0 1 .672-2.069l5.043-4.915a.338.338 0 0 0-.188-.576l-6.968-1.013a2.335 2.335 0 0 1-1.76-1.279L16.3 4.188a.338.338 0 0 0-.606 0L12.581 10.5a2.335 2.335 0 0 1-1.761 1.279l-6.967 1.015a.337.337 0 0 0-.187.576l5.042 4.915a2.343 2.343 0 0 1 .672 2.069l-1.191 6.94a.338.338 0 0 0 .492.356l6.231-3.276A2.335 2.335 0 0 1 16 24.105z">
                                        </path>
                                    </g>
                    <g stroke-width="1" fill="#000000"> <!-- Outline color set to yellow -->
                    <path d="M23.479 29.691a2.325 2.325 0 0 1-1.089-.27l-6.233-3.276a.333.333 0 0 0-.314 0l-6.232 3.276a2.338 2.338 0 0 1-3.393-2.465l1.19-6.939a.337.337 0 0 0-.1-.3L2.27 14.8a2.338 2.338 0 0 1 1.3-3.989L10.533 9.8a.337.337 0 0 0 .254-.185L13.9 3.3a2.337 2.337 0 0 1 4.193 0l3.115 6.313a.34.34 0 0 0 .254.185l6.969 1.012a2.339 2.339 0 0 1 1.3 3.989l-5.043 4.914a.339.339 0 0 0-.1.3l1.19 6.939a2.341 2.341 0 0 1-2.3 2.735zM16 24.105a2.325 2.325 0 0 1 1.088.27l6.232 3.275a.321.321 0 0 0 .356-.025.325.325 0 0 0 .135-.331l-1.191-6.94a2.343 2.343 0 0 1 .672-2.069l5.043-4.915a.338.338 0 0 0-.188-.576l-6.968-1.013a2.335 2.335 0 0 1-1.76-1.279L16.3 4.188a.338.338 0 0 0-.606 0L12.581 10.5a2.335 2.335 0 0 1-1.761 1.279l-6.967 1.015a.337.337 0 0 0-.187.576l5.042 4.915a2.343 2.343 0 0 1 .672 2.069l-1.191 6.94a.338.338 0 0 0 .492.356l6.231-3.276A2.335 2.335 0 0 1 16 24.105z">
                                        </path>
                                    </g>
                                </svg>
                    <svg xmlns="http://www.w3.org/2000/svg" version="1.1"
                         xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.com/svgjs"
                         width="40" height="40" x="0" y="0" viewBox="0 0 32 32"
                         style="enable-background:new 0 0 512 512" xml:space="preserve">
                    <g class="star" id="star3" data-star="3" fill="transparent"> <!-- Fill color set to yellow -->
                    <path d="M16 24.105a2.325 2.325 0 0 1 1.088.27l6.232 3.275a.321.321 0 0 0 .356-.025.325.325 0 0 0 .135-.331l-1.191-6.94a2.343 2.343 0 0 1 .672-2.069l5.043-4.915a.338.338 0 0 0-.188-.576l-6.968-1.013a2.335 2.335 0 0 1-1.76-1.279L16.3 4.188a.338.338 0 0 0-.606 0L12.581 10.5a2.335 2.335 0 0 1-1.761 1.279l-6.967 1.015a.337.337 0 0 0-.187.576l5.042 4.915a2.343 2.343 0 0 1 .672 2.069l-1.191 6.94a.338.338 0 0 0 .492.356l6.231-3.276A2.335 2.335 0 0 1 16 24.105z">
                                        </path>
                                    </g>
                    <g stroke-width="1" fill="#000000"> <!-- Outline color set to yellow -->
                    <path d="M23.479 29.691a2.325 2.325 0 0 1-1.089-.27l-6.233-3.276a.333.333 0 0 0-.314 0l-6.232 3.276a2.338 2.338 0 0 1-3.393-2.465l1.19-6.939a.337.337 0 0 0-.1-.3L2.27 14.8a2.338 2.338 0 0 1 1.3-3.989L10.533 9.8a.337.337 0 0 0 .254-.185L13.9 3.3a2.337 2.337 0 0 1 4.193 0l3.115 6.313a.34.34 0 0 0 .254.185l6.969 1.012a2.339 2.339 0 0 1 1.3 3.989l-5.043 4.914a.339.339 0 0 0-.1.3l1.19 6.939a2.341 2.341 0 0 1-2.3 2.735zM16 24.105a2.325 2.325 0 0 1 1.088.27l6.232 3.275a.321.321 0 0 0 .356-.025.325.325 0 0 0 .135-.331l-1.191-6.94a2.343 2.343 0 0 1 .672-2.069l5.043-4.915a.338.338 0 0 0-.188-.576l-6.968-1.013a2.335 2.335 0 0 1-1.76-1.279L16.3 4.188a.338.338 0 0 0-.606 0L12.581 10.5a2.335 2.335 0 0 1-1.761 1.279l-6.967 1.015a.337.337 0 0 0-.187.576l5.042 4.915a2.343 2.343 0 0 1 .672 2.069l-1.191 6.94a.338.338 0 0 0 .492.356l6.231-3.276A2.335 2.335 0 0 1 16 24.105z">
                                        </path>
                                    </g>
                                </svg>
                    <svg xmlns="http://www.w3.org/2000/svg" version="1.1"
                         xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.com/svgjs"
                         width="40" height="40" x="0" y="0" viewBox="0 0 32 32"
                         style="enable-background:new 0 0 512 512" xml:space="preserve">
                    <g class="star" id="star4" data-star="4" fill="transparent"> <!-- Fill color set to yellow -->
                    <path d="M16 24.105a2.325 2.325 0 0 1 1.088.27l6.232 3.275a.321.321 0 0 0 .356-.025.325.325 0 0 0 .135-.331l-1.191-6.94a2.343 2.343 0 0 1 .672-2.069l5.043-4.915a.338.338 0 0 0-.188-.576l-6.968-1.013a2.335 2.335 0 0 1-1.76-1.279L16.3 4.188a.338.338 0 0 0-.606 0L12.581 10.5a2.335 2.335 0 0 1-1.761 1.279l-6.967 1.015a.337.337 0 0 0-.187.576l5.042 4.915a2.343 2.343 0 0 1 .672 2.069l-1.191 6.94a.338.338 0 0 0 .492.356l6.231-3.276A2.335 2.335 0 0 1 16 24.105z">
                                        </path>
                                    </g>
                    <g stroke-width="1" fill="#000000"> <!-- Outline color set to yellow -->
                    <path d="M23.479 29.691a2.325 2.325 0 0 1-1.089-.27l-6.233-3.276a.333.333 0 0 0-.314 0l-6.232 3.276a2.338 2.338 0 0 1-3.393-2.465l1.19-6.939a.337.337 0 0 0-.1-.3L2.27 14.8a2.338 2.338 0 0 1 1.3-3.989L10.533 9.8a.337.337 0 0 0 .254-.185L13.9 3.3a2.337 2.337 0 0 1 4.193 0l3.115 6.313a.34.34 0 0 0 .254.185l6.969 1.012a2.339 2.339 0 0 1 1.3 3.989l-5.043 4.914a.339.339 0 0 0-.1.3l1.19 6.939a2.341 2.341 0 0 1-2.3 2.735zM16 24.105a2.325 2.325 0 0 1 1.088.27l6.232 3.275a.321.321 0 0 0 .356-.025.325.325 0 0 0 .135-.331l-1.191-6.94a2.343 2.343 0 0 1 .672-2.069l5.043-4.915a.338.338 0 0 0-.188-.576l-6.968-1.013a2.335 2.335 0 0 1-1.76-1.279L16.3 4.188a.338.338 0 0 0-.606 0L12.581 10.5a2.335 2.335 0 0 1-1.761 1.279l-6.967 1.015a.337.337 0 0 0-.187.576l5.042 4.915a2.343 2.343 0 0 1 .672 2.069l-1.191 6.94a.338.338 0 0 0 .492.356l6.231-3.276A2.335 2.335 0 0 1 16 24.105z">
                                        </path>
                                    </g>
                                </svg>
                    <svg xmlns="http://www.w3.org/2000/svg" version="1.1"
                         xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.com/svgjs"
                         width="40" height="40" x="0" y="0" viewBox="0 0 32 32"
                         style="enable-background:new 0 0 512 512" xml:space="preserve">
                    <g class="star" id="star5" data-star="5" fill="transparent"> <!-- Fill color set to yellow -->
                    <path d="M16 24.105a2.325 2.325 0 0 1 1.088.27l6.232 3.275a.321.321 0 0 0 .356-.025.325.325 0 0 0 .135-.331l-1.191-6.94a2.343 2.343 0 0 1 .672-2.069l5.043-4.915a.338.338 0 0 0-.188-.576l-6.968-1.013a2.335 2.335 0 0 1-1.76-1.279L16.3 4.188a.338.338 0 0 0-.606 0L12.581 10.5a2.335 2.335 0 0 1-1.761 1.279l-6.967 1.015a.337.337 0 0 0-.187.576l5.042 4.915a2.343 2.343 0 0 1 .672 2.069l-1.191 6.94a.338.338 0 0 0 .492.356l6.231-3.276A2.335 2.335 0 0 1 16 24.105z">
                                        </path>
                                    </g>
                    <g stroke-width="1" fill="#000000"> <!-- Outline color set to yellow -->
                    <path d="M23.479 29.691a2.325 2.325 0 0 1-1.089-.27l-6.233-3.276a.333.333 0 0 0-.314 0l-6.232 3.276a2.338 2.338 0 0 1-3.393-2.465l1.19-6.939a.337.337 0 0 0-.1-.3L2.27 14.8a2.338 2.338 0 0 1 1.3-3.989L10.533 9.8a.337.337 0 0 0 .254-.185L13.9 3.3a2.337 2.337 0 0 1 4.193 0l3.115 6.313a.34.34 0 0 0 .254.185l6.969 1.012a2.339 2.339 0 0 1 1.3 3.989l-5.043 4.914a.339.339 0 0 0-.1.3l1.19 6.939a2.341 2.341 0 0 1-2.3 2.735zM16 24.105a2.325 2.325 0 0 1 1.088.27l6.232 3.275a.321.321 0 0 0 .356-.025.325.325 0 0 0 .135-.331l-1.191-6.94a2.343 2.343 0 0 1 .672-2.069l5.043-4.915a.338.338 0 0 0-.188-.576l-6.968-1.013a2.335 2.335 0 0 1-1.76-1.279L16.3 4.188a.338.338 0 0 0-.606 0L12.581 10.5a2.335 2.335 0 0 1-1.761 1.279l-6.967 1.015a.337.337 0 0 0-.187.576l5.042 4.915a2.343 2.343 0 0 1 .672 2.069l-1.191 6.94a.338.338 0 0 0 .492.356l6.231-3.276A2.335 2.335 0 0 1 16 24.105z">
                                        </path>
                                    </g>
                                </svg>
                </div>
                <form class="form">
                    <label for="advantages">Переваги</label>
                    <input class="input" name="advantages">
                    <label for="disadvantages">Недоліки</label>
                    <input class="input" name="disadvantages">
                    <label for="comment">Коментар</label>
                    <textarea class="textarea" name="comment"></textarea>
                    <button class="button gray">Додати</button>
                </form>
            </div>
        </div>
    </div>
</section>