<div class="way">
    <div class="linkrow">
        <a href="">Монітори</a>
        <p>&nbsp;/&nbsp;</p>
        <a href="">Apple</a>
        <p>&nbsp;/&nbsp;</p>
        <a href="">Apple iMac 24"</a>
    </div>
</div>

<div class="goods">
    <h2 class="h2 title">Apple iMac 24"</h2>
    <ul class="goodnav">
        <li class="item"><a href="">Все про товар</a></li>
        <li class="item"><a href="">Характеристики</a></li>
        <li class="item"><a href="">Відгуки</a></li>
    </ul>
    <div class="good">
        <div class="shortdescr">
            <img src="../img/jpg/monitor.jpg">
            <p class="p subtitle">
                Екран 23.5" (4480x2520) 4.5K / Apple M1 / RAM 8 ГБ / SSD 256 ГБ / Apple M1
                Graphics (7 ядер) / без ОД / Wi-Fi / Bluetooth / вебкамера / macOS Big Sur / 4.46 кг /
                сріблястий / клавіатура + миша
            </p>
        </div>
        <div class="buydelivery">
            <span class="badge green">
                <img src="/img/png/🦆 icon _check circle_.png">
                <p class="p subtitle">Є в наявності!</p>
            </span>
            <div class="buy">
                <h2 class="h2 title">87500₴</h2>
                <div>
                    <a href="">
                        <span class="badge gray">
                            <img src="../img/svg/Basket_alt_3_light.svg">
                            <p class="p title">Придбати</p>
                        </span>
                    </a>
                    <a href=""><img src="../img/svg/Favorite_light.svg"></a>
                </div>
            </div>
            <div class="delivery">
                <div class="delivercity">
                    <p>Доставка в: </p>
                    <a href="">&nbsp;Харків</a>
                </div>
                <div class="deliverchoice">
                    <div>
                        <img src="../img/svg/Shop_light.svg">
                        <p class="p subtitle">Самовивіз з відділень поштових операторів</p>
                    </div>
                    <div>
                        <p class="p subtitle">За тарифами перевізників</p>
                    </div>
                </div>
                <div class="deliverchoice">
                    <div>
                        <img src="../img/svg/Arhive_light.svg">
                        <p class="p subtitle">Кур'єрська доставка</p>
                    </div>
                    <div>
                        <p class="p subtitle">За тарифами перевізників</p>
                    </div>
                </div>
                <div class="info">
                    <img src="../img/svg/Wallet_duotone_line.svg">
                    <p class="xd">Оплата. Оплата при отриманні товару або за реквізитами</p>
                </div>
                <div class="info">
                    <img src="../img/svg/Chield_check_light.svg">
                    <p class="xd">Гарантія. Обмін/повернення протягом 14 днів.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="anotherreview">
    <div class="another">
        <h2 class="h2 title">Також вас можуть зацікавити</h2>
        <ul class="list">
            <li class="item-card">
                <a href="/html/product.html"><img class="pic" src="../img/jpg/monitor.jpg"></a>
                <a href="">
                    <p class="name">Apple iMac 24"</p>
                </a>
                <div class="catcash">
                    <a href="">
                        <p class="p subtitle">Монітори</p>
                    </a>
                    <p class="name">65 499₴</p>
                </div>
                <div class="description">
                    <p class="descrprop">Діагональ дисплея: 23.6"</p>
                    <p class="descrprop">Максимальна роздільна здатність дисплея: 1920x1080 (FullHD)</p>
                    <p class="descrprop">Час реакції матриці: 1 ms (MPRT), 4 ms (GTG)</p>
                    <p class="descrprop">Тип матриці: VA</p>
                </div>
            </li>
            <li class="item-card">
                <a href=""><img class="pic" src="../img/jpg/monitor.jpg"></a>
                <a href="">
                    <p class="name">Apple iMac 24"</p>
                </a>
                <div class="catcash">
                    <a href="">
                        <p class="p subtitle">Монітори</p>
                    </a>
                    <p class="name">65 499₴</p>
                </div>
                <div class="description">
                    <p class="descrprop">Діагональ дисплея: 23.6"</p>
                    <p class="descrprop">Максимальна роздільна здатність дисплея: 1920x1080 (FullHD)</p>
                    <p class="descrprop">Час реакції матриці: 1 ms (MPRT), 4 ms (GTG)</p>
                    <p class="descrprop">Тип матриці: VA</p>
                </div>
            </li>
        </ul>
    </div>
    <div class="review">
        <p class="p title">Додати відгук до товару</p>
        <div class="stars">
            <a href=""><img src="../img/svg/Star_light.svg"></a>
            <a href=""><img src="../img/svg/Star_light.svg"></a>
            <a href=""><img src="../img/svg/Star_light.svg"></a>
            <a href=""><img src="../img/svg/Star_light.svg"></a>
            <a href=""><img src="../img/svg/Star_light.svg"></a>
        </div>
        <form class="form" action="">
            <div>
                <label for="advantages">Переваги:</label>
                <input type="text" id="advantages">
            </div>
            <div>
                <label for="disadvantages">Недоліки:</label>
                <input type="text" id="disadvantages">
            </div>
            <div>
                <label for="comment">Коментар:</label>
                <input type="text" id="comment">
            </div>
            <button class="button">Додати</button>
        </form>
    </div>
</div>