.settings-info{
    width: 100%;
    padding-left: 10px;
}

.settings-info .title{
    text-align: left;
    margin-top: 15px;
    margin-bottom: 0;
}

.settings-info .settings-info-nav .settings-info-list .settings-info-item .settings-info-title .info-title{
    display: flex;
}

.settings-info .settings-info-nav .settings-info-list .settings-info-item .settings-info-title {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    cursor: pointer;
    border-radius: 12px;
    transition: background-color 0.3s;
    border: 1px rgba(0,0,0,0.2) solid;
    margin-top: 10px; 
}

.settings-info .settings-info-nav .settings-info-list .settings-info-item .settings-info-title:hover{
    background-color: rgba(0,0,0,0.1);
}

.settings-info .settings-info-item-list{
    padding: 20px;
    display: none;
    width: 100%;
}

.settings-info .arrow{
    transform: rotate(90deg);
    display: flex;
    align-items: center;
    justify-content: center;
}

.settings-info-title.active .arrow{
    transform: rotate(270deg);
}

.settings-info .settings-info-item-list.active {
    display: block;
}

.settings-info .settings-info-item-list ul {
    display: flex;
    flex-wrap: wrap;
}

.settings-info .settings-info-item-list .settings-info-item-list-item{
    display: flex;
    flex-direction: column;
    margin-right: 10px;
    margin-bottom: 10px;
}

.settings-info .settings-info-item-list .settings-info-item-list-item .settings-info-input{
    padding: 10px;
    outline: none;
    border: none;
    width: 220px;
    height: 50px;
    font-size: 18px;
    pointer-events: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    position: relative;
}

.settings-info .buttons{
    display: flex;
    flex-wrap: wrap;
}

.settings-info .button.white, .settings-info .button.red, .settings-info .button.green{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px;
    width: 150px;
    border-radius: 12px;
    margin-right: 10px;
    margin-bottom: 10px;
}

.settings-info .button.white{
    border: 1px solid rgba(0,0,0,0.1);
}

.settings-info .button.red, .settings-info .button.green{
    display: none
}

.settings-info .settings-info-item-list.edit .button.white{
    display: none;
}

.settings-info .settings-info-item-list.edit .button.red,
.settings-info .settings-info-item-list.edit .button.green{
    display: flex;
}

.settings-info .settings-info-item-list .settings-info-item-list-item .settings-info-input.active {
    border: 2px solid rgba(0,0,0,0.1);
    border-radius: 12px;
    pointer-events: initial;
}