@font-face {
	font-family: 'Kyiv*Type Serif';
	src: url('../fonts/KyivTypeSerif.woff2') format('woff2'), 
		 url('../fonts/KyivTypeSerif.woff') format('woff');
	font-weight: normal;
	font-style: normal;
    font-display: swap;
}