input {
    margin-bottom: 30px;
    margin-top: 10px;
    background: #FFFFFF;
    border: 1px solid black;
    padding: 10px;
    padding-left: 15px;
    font-size: 15px;
    color: #000000;
    outline: none;
    transition: all 0.2s ease-in-out;
    outline-offset: 0;
}

input::placeholder {
    color: #666666;
}

.input.search {
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    width: 80%;
}

@media screen and (max-width: 768px) {
    .input.search {
        width: 100%;
        border-top-right-radius: 8px;
        border-bottom-right-radius: 8px;
    }
}