.lang {
    display: flex;
    margin-right: 10px;
    margin-left: 10px;
}

.lang>*:first-child {
    border-right: 1px solid #FFFFFF;
    color: #FFFFFF;
}

.lang>*:first-child a{
    margin-right: 5px;
}

.lang>*:last-child {
    color: yellow;
    margin-left: 5px;
}

.lang>*:last-child::first-letter {
    color: #00AFF8;
}

@media screen and (max-width: 768px){
    .lang{
        display: none;
    }
}